.find-icon {
    display: flex;
    justify-content: space-between;
}

.find-icon__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icon__icon i {
    font-size: 35px;
}

.find-icon__icon span {
    margin-top: 15px;
}

.recommen-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommen-friends__title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.recommen-friends span {
    display: block;
    margin: 100px 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
}